<link rel="stylesheet" href="/css/login.css">
<nav>
    <a href="#">Home</a>
    <a href="/signIn">SignIn</a>
</nav>
<section>
    <h1>Log In To Your Account</h1>
    <form action="/login" method="POST">
        <input id="email" type=text name="email" placeholder="Enter Email"><br><br>
        <input id="password" type=password name="password" placeholder="Enter Password"><br><br>
        <button id="button">Login</button>
    </form>
</section>